.no-support-message { display:none; }
.impress-not-supported .no-support-message { display:block; }

body { background:	#fa7f9e; font:50px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; color:#d2ffbb; }
.step { width:940px; margin:0 auto 24px auto; text-align:center; }
